<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <div class="header">
    <button routerLink="/admin/users" class="btn btn-link btn-left">
      Back to all users
    </button>
    <h2>Create a user</h2>
  </div>
  <div class="form-control">
    <label>Email</label>
    <input class="form-control" type="text" formControlName="email" />
    <div
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid"
    >
      <small *ngIf="form.get('email').errors.email">Invalid email</small>
      <small *ngIf="form.get('email').errors.required"
        >Email is a required field</small
      >
    </div>
  </div>
  <div class="form-control">
    <label>Fisrt Name</label>
    <input class="form-control" type="text" formControlName="firstName" />
    <div
      class="validation"
      *ngIf="form.get('firstName').touched && form.get('firstName').invalid"
    >
      <small *ngIf="form.get('firstName').errors.required"
        >First Name is a required field</small
      >
    </div>
  </div>
  <div class="form-control">
    <label>Second Name</label>
    <input class="form-control" type="text" formControlName="secondName" />
    <div
      class="validation"
      *ngIf="form.get('secondName').touched && form.get('secondName').invalid"
    >
      <small *ngIf="form.get('secondName').errors.required"
        >Second Name is a required field</small
      >
    </div>
  </div>
  <div class="form-control">
    <label>Password</label>
    <input class="form-control" type="text" formControlName="password" />
    <div
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small *ngIf="form.get('password').errors.required"
        >Password is a required field</small
      >
      <small *ngIf="form.get('password').errors.pattern"
        >Password must contain an uppercase character, lowercase character, a digit, and a non-alphanumeric character.</small
      >
      <small *ngIf="form.get('password').errors.minlength"
        >Password length should be greater than or equal to 6.</small
      >
    </div>
  </div>
  <div class="form-control">
    <label>Type Password again</label>
    <input class="form-control" type="text" formControlName="passwordConfirm" />
    <div
      class="validation"
      *ngIf="form.get('passwordConfirm').touched && form.get('passwordConfirm').invalid"
    >
      <small *ngIf="form.get('passwordConfirm').errors.required"
        >Password Confirm is a required field</small
      >
    </div>
    <div
      class="validation"
      *ngIf="form.get('passwordConfirm').touched"
    >
      <small *ngIf="form.get('password').value != form.get('passwordConfirm').value"
        >Password fields are not equal</small
      >
  </div>
  </div>
  <div class="form-control">
    <label>Role</label>
    <select formControlName="role">
        <option
            *ngFor="let r of roles"
            [ngValue]="r.name"
        >
            {{r.name}}
        </option>
    </select>
</div>
  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="form.invalid || submitted"
  >
    Save
  </button>
</form>
