<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login page</h2>
  <div class="alert alert-danger" *ngIf="wrongCredentials">
    Wrong email, password or there is no such user in the database
  </div>
  <div class="alert alert-danger" *ngIf="message">
    {{ message }}
  </div>

  <div class="form-control">
    <label>Email</label>
    <input type="text" formControlName="email" />
    <div
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid"
    >
      <small *ngIf="form.get('email').errors.required">
        Email is required
      </small>
    </div>
  </div>
  <div class="form-control">
    <label>Password</label>
    <div>
      <input [type]="passwordVisibility.inputType" formControlName="password" />
      <button (click)="changePasswordVisibility(passwordVisibility)" class="eye">
        <i class="fa fa-eye" aria-hidden="true" *ngIf="!passwordVisibility.showPassword"></i>
        <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="passwordVisibility.showPassword"></i>
      </button>
      <div
        class="validation"
        *ngIf="form.get('password').touched && form.get('password').invalid"
        class="validation"
      >
        <small *ngIf="form.get('password').errors.required">
          Password is required
        </small>
        <small *ngIf="form.get('password').errors.minlength">
          Password length must be at least
          {{ form.get("password").errors.minlength.requiredLength }}. Now -
          {{ form.get("password").errors.minlength.actualLength }}.
        </small>
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-dark"
    [disabled]="form.invalid || submitted"
  >
    Sign in
  </button>
  <button
    class="btn btn-dark"
    (click)="register()"
  >
    Register
  </button>
  <button
    class="btn btn-dark"
    (click)="adminLogin()"
  >
    Admin Login
  </button>
  <button
    class="btn btn-dark"
    (click)="masterLogin()"
  >
    Master Login
  </button>
  <button
    class="btn btn-dark"
    (click)="userLogin()"
  >
    User Login
  </button>
</form>
