<div *ngIf="user; else loading_block">
  <!-- <p *ngIf="error" class="watning">{{error}}</p> -->
  <form class="card" [formGroup]="form" (ngSubmit)="mySubmit()">
    <div class="header">
      <button *ngIf="auth.isAdmin()" routerLink="/admin/users" class="btn btn-left btn-link">
        {{ "changePassword.backToAllUsers" | translate}}
      </button>
      <h2>{{ "changePassword.pageTitle" | translate}}</h2>
    </div>
    <div class="form-control">
      <label>{{ "controls.email" | translate }}</label>
      <input
        class="form-control"
        type="text"
        formControlName="email"
        [disabled]="true"
        readonly
      />
    </div>
    <div class="form-control">
      <label>{{ "controls.username" | translate}}</label>
      <input
        type="text"
        formControlName="username"
        [disabled]="true"
        readonly
      />
    </div>
    <div class="form-control">
      <label>
        {{ "controls.oldPassword" | translate}}
      </label>
      <input class="form-control" type="text" formControlName="oldPassword" />
      <div
        class="validation"
        *ngIf="
          form.get('oldPassword').touched && form.get('oldPassword').invalid
        "
      >
        <small *ngIf="form.get('oldPassword').errors.required"
          >{{ "controlsValidation.fieldRequired" | translate}}</small
        >
      </div>
    </div>
    <div class="form-control">
      <label>
        {{ "controls.newPassword" | translate}}
      </label>
      <input class="form-control" type="text" formControlName="newPassword" />
      <div
        class="validation"
        *ngIf="
          form.get('newPassword').touched && form.get('newPassword').invalid
        "
      >
        <small *ngIf="form.get('newPassword').errors.required"
          >{{ "controlsValidation.fieldRequired" | translate}}</small
        >
        <small *ngIf="form.get('newPassword').errors.pattern"
        >
          {{ "controlsValidation.passwordMustContain" | translate}}
        </small>
        <small *ngIf="form.get('newPassword').errors.minlength"
          >
          {{ "controlsValidation.passwordMinLength" | translate}} 6.</small
        >
      </div>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || submitted"
    >
      {{ "changePassword.changePasswordButton" | translate}}
    </button>
  </form>
</div>
<ng-template #loading_block> Loading... </ng-template>
