<div *ngIf="deliveryOrder && form && loading">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
      <div class="header">
        <button routerLink="/admin/delivery-orders" class="btn btn-link btn-left">
          Back to all delivery orders
        </button>
      </div>
      <div class="form-control">
        <label>Id</label>
        <input class="form-control" type="text" formControlName="id" readonly />
      </div>
      <div class="form-control">
        <label>Date Created</label>
        <input class="form-control" type="text" formControlName="dateCreated" readonly />
      </div>
      <div class="form-control">
        <label>Stage</label>
        <select formControlName="stage">
            <option
                *ngFor="let p of stages"
                [ngValue]="p"
            >
                {{p}}
            </option>
        </select>
      </div>
      <div class="form-control">
        <label>Date finished</label>
        <input class="form-control" type="text" formControlName="dateFinished" readonly/>
      </div>
      <div class="form-control">
        <label>Total price</label>
        <input class="form-control" type="number" formControlName="totalPrice" readonly/>
      </div>
      <div class="form-control">
        <label>Provider name</label>
        <input class="form-control" type="text" formControlName="providerName" readonly/>
      </div>
      <div *ngIf="deliveryOrder.partModels">
        <table>
          <caption><b>Part models</b></caption>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Purchase price</th>
              <th>Quantity</th>
              <th>Weight</th>
            </tr>
            <tr *ngFor="let partModel of deliveryOrder.partModels">
              <td><img src="{{partModel.partModelImageUrl}}"> </td>
              <td>{{ partModel.partModelName }}</td>
              <td>{{ financial(partModel.purchasePrice) | currency: 'USD'}}</td>
              <td>{{ partModel.quantity}}</td>
              <td>{{ financial(partModel.partModelWeightInKg)}} kg</td>
            </tr>
          </table>
      </div>

      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="form.invalid || submitted"
      >
        Update Stage
      </button>
    </form>
  </div>
  