<div *ngIf="deliveryOrder && form && loading">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
      <div class="header">
        <button routerLink="/admin/delivery-orders" class="btn btn-link btn-left">
          {{"deliveryOrderDetails.backToAllDeliveryOrders" | translate}}
        </button>
      </div>
      <div class="form-control">
        <label>Id</label>
        <input class="form-control" type="text" formControlName="id" readonly />
      </div>
      <div class="form-control">
        <label>{{"controls.dateCreated" | translate}}</label>
        <input class="form-control" type="text" formControlName="dateCreated" readonly />
      </div>
      <div class="form-control">
        <label>{{"controls.stage" | translate}}</label>
        <select formControlName="stage">
            <option
                *ngFor="let p of stages"
                [ngValue]="p"
            >
                {{p}}
            </option>
        </select>
      </div>
      <div class="form-control">
        <label>{{"controls.dateFinished" | translate}}</label>
        <input class="form-control" type="text" formControlName="dateFinished" readonly/>
      </div>
      <div class="form-control">
        <label>{{"controls.totalPrice" | translate}}</label>
        <input class="form-control" type="number" formControlName="totalPrice" readonly/>
      </div>
      <div class="form-control">
        <label>{{"controls.provider" | translate}}</label>
        <input class="form-control" type="text" formControlName="providerName" readonly/>
      </div>
      <div *ngIf="deliveryOrder.partModels">
        <table>
          <caption><b>{{"controls.partModels" | translate}}</b></caption>
            <tr>
              <th>{{"tableRows.image" | translate}}</th>
              <th>{{"tableRows.name" | translate}}</th>
              <th>{{"tableRows.purchasePrice" | translate}}</th>
              <th>{{"tableRows.quantity" | translate}}</th>
              <th>{{"tableRows.weight" | translate}}</th>
            </tr>
            <tr *ngFor="let partModel of deliveryOrder.partModels">
              <td><img src="{{partModel.partModelImageUrl}}"> </td>
              <td>{{ partModel.partModelName }}</td>
              <td>{{ financial(partModel.purchasePrice) | currency: 'USD'}}</td>
              <td>{{ partModel.quantity}}</td>
              <td>{{ financial(partModel.partModelWeightInKg)}} kg</td>
            </tr>
          </table>
      </div>

      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="form.invalid || submitted"
      >
        {{"deliveryOrderDetails.updateStageButton" | translate}}
      </button>
    </form>
  </div>
