<div *ngIf="form">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label>Name</label>
      <input class="form-control" type="text" formControlName="name" />
      <div
        class="validation"
        *ngIf="form.get('name').touched && form.get('name').invalid"
      >
        <small *ngIf="form.get('name').errors.required"
          >Name is a required field</small
        >
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid || submitted"
      >
      {{formStatus}}
    </button>
  </form>
</div>
