<div *ngIf="providers.length; else loading">
  <table>
    <tr>
      <th>{{"tableRows.choose" | translate}}</th>
      <th>{{"tableRows.name" | translate}}</th>
      <th>{{"tableRows.pricePerKg" | translate}}</th>
      <th>{{"tableRows.minWeightInKgToDeliver" | translate}}</th>
    </tr>
    <tr *ngFor="let provider of providers">
      <td>
        <input
          type="radio"
          name="providers-radio-group"
          value="{{provider.id}}"
          (change)="chooseProvider(provider)">
      </td>
      <td>{{ provider.name }}</td>
      <td>{{ provider.pricePerKg | currency: 'USD'}}</td>
      <td>{{ provider.minWeightInKgToDeliver}} kg</td>
    </tr>
  </table>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
