<div *ngIf="user && form && loading">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
      <div class="header">
        <button *ngIf="auth.isAdmin()" routerLink="/admin/users" class="btn btn-link btn-left">
          Back to all users
        </button>
        <h2>My account</h2>
      </div>
      <div class="form-control">
        <label>Email</label>
        <input class="form-control" type="text" formControlName="email" readonly />
      </div>
      <div class="form-control">
        <label>First Name</label>
        <input class="form-control" type="text" formControlName="firstName" readonly/>
      </div>
      <div class="form-control">
        <label>Second Name</label>
        <input class="form-control" type="text" formControlName="secondName" readonly/>
      </div>
      <div class="form-control">
        <label>Username</label>
        <input class="form-control" type="text" formControlName="username" readonly/>
      </div>
      <div class="form-control">
        <label>Role</label>
        <input class="form-control" type="text" formControlName="role" readonly/>
      </div>
      <button
        class="btn btn-primary"
        [routerLink]="['/admin','user', user.id, 'change-password']"
      >
        Change password
      </button>
    </form>
  </div>
