<div *ngIf="user && form && loading">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
      <div class="header">
        <button *ngIf="auth.isAdmin()" routerLink="/admin/users" class="btn btn-link btn-left">
          {{ "account.backToAllUsers" | translate}}
        </button>
        <h2>{{ "account.pageTitle" | translate}}</h2>
      </div>
      <div class="form-control">
        <label>{{ "controls.email" | translate}}</label>
        <input class="form-control" type="text" formControlName="email" readonly />
      </div>
      <div class="form-control">
        <label>{{ "controls.firstName" | translate}}</label>
        <input class="form-control" type="text" formControlName="firstName" readonly/>
      </div>
      <div class="form-control">
        <label>{{ "controls.secondName" | translate}}</label>
        <input class="form-control" type="text" formControlName="secondName" readonly/>
      </div>
      <div class="form-control">
        <label>{{ "controls.username" | translate}}</label>
        <input class="form-control" type="text" formControlName="username" readonly/>
      </div>
      <div class="form-control">
        <label>{{ "controls.role" | translate}}</label>
        <input class="form-control" type="text" formControlName="role" readonly/>
      </div>
      <button
        class="btn btn-primary"
        [routerLink]="['/admin','user', user.id, 'change-password']"
      >
      {{ "account.changePasswordButton" | translate}}
      </button>
    </form>
  </div>
