<p>delivery-order-update-page works!</p>
<button (click)="myFunc()">Click me</button>
<button (click)="promiseFunc()">Promise Click me</button>
<button (click)="observerFunc()">Observer Click me</button>
<button (click)="observer2Func()">Observer2 Click me</button>
<button (click)="subjectFunc()">Subject Click me</button>
<button (click)="vanillaSubjectFunc()">Valilla Subject Click me</button>
<button (click)="behaviorSubjectFunc()">Behavior Subject Click me</button>
<button (click)="replaySubjectFunc()">Replay Subject Click me</button>
<div> Observer1: {{observerData1}} </div>
<div> Observer2: {{observerData2}} </div>
<div> Subject1: {{subjectData1}} </div>
<div> Subject2: {{subjectData2}} </div>
<div> Vanilla Subject: {{vanillaSubject}} </div>
<div> Behavior Subject: {{behaviorSubject}} </div>
<div> Replay Subject: {{replaySubject}} </div>