<button
    mat-flat-button
    color="primary"
    [routerLink]="['/admin','parts', 'create']"
>
  {{"parts.createNewPartButton" | translate}}
</button>
<div *ngIf="parts.length; else loading">
  <table>
    <tr>
      <th>Id</th>
      <th>{{"tableRows.name" | translate}}</th>
      <th>{{"tableRows.actions" | translate}}</th>
    </tr>
    <tr *ngFor="let part of parts">
      <td>{{ part.id }}</td>
      <td>{{ part.name }}</td>
      <td>
        <button class="btn btn-sm btn-warning"
          (click)="redirectToUpdate(part.id)">
          {{"tableRows.update" | translate}}
        </button>
        <button class="btn btn-sm btn-danger" (click)="deletePart(part)">
          {{"tableRows.delete" | translate}}
        </button>
      </td>
    </tr>
  </table>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
