<div *ngIf="form && parts.length && manufacturers.length; else loading">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <div class="header">
      <button routerLink="/admin/part-models" class="btn btn-link btn-left">
        {{"partModelsForm.backToAllPartModels" | translate}}
      </button>
      <h2 *ngIf="utility.isCreate(formStatus)">
        {{"partModelsForm.create" | translate}}
      </h2>
      <h2 *ngIf="!utility.isCreate(formStatus)">
        {{"partModelsForm.update" | translate}}
      </h2>
    </div>
    <div class="form-control">
      <label>{{ "controls.name" | translate}}</label>
      <input class="form-control" type="text" formControlName="name" />
      <div
        class="validation"
        *ngIf="form.get('name').touched && form.get('name').invalid"
      >
        <small *ngIf="form.get('name').errors.required"
          >{{ "controlsValidation.fieldRequired" | translate}}</small
        >
      </div>
    </div>
    <div class="form-control">
      <label>{{ "controls.price" | translate}}</label>
      <input class="form-control" type="number" formControlName="price" />
      <div
        class="validation"
        *ngIf="form.get('price').touched && form.get('price').invalid"
      >
        <small *ngIf="form.get('price').errors.required"
          >{{ "controlsValidation.fieldRequired" | translate}}</small
        >
        <small *ngIf="form.get('price').errors.min">
          {{"controlsValidation.nonNegative" | translate}}
        </small>
      </div>
    </div>
    <div class="form-control">
      <label>{{ "controls.purchasePrice" | translate}}</label>
      <input class="form-control" type="number" formControlName="purchasePrice" />
      <div
        class="validation"
        *ngIf="form.get('purchasePrice').touched && form.get('purchasePrice').invalid"
      >
        <small *ngIf="form.get('purchasePrice').errors.required"
          >{{ "controlsValidation.fieldRequired" | translate}}</small
        >
        <small *ngIf="form.get('purchasePrice').errors.min">
          {{"controlsValidation.nonNegative" | translate}}
        </small>
      </div>
    </div>
    <div class="form-control">
      <label>{{ "controls.availableQuantity" | translate}}</label>
      <input class="form-control" type="number" formControlName="availableQuantity" />
      <div
        class="validation"
        *ngIf="form.get('availableQuantity').touched && form.get('availableQuantity').invalid"
      >
        <small *ngIf="form.get('availableQuantity').errors.required"
          >{{ "controlsValidation.fieldRequired" | translate}}</small
        >
        <small *ngIf="form.get('availableQuantity').errors.min">
          {{"controlsValidation.nonNegative" | translate}}
        </small>
      </div>
    </div>
    <div class="form-control">
      <label>{{ "controls.weightInKg" | translate}}</label>
      <input class="form-control" type="number" formControlName="weightInKg" />
      <div
        class="validation"
        *ngIf="form.get('weightInKg').touched && form.get('weightInKg').invalid"
      >
        <small *ngIf="form.get('weightInKg').errors.required"
          >{{ "controlsValidation.fieldRequired" | translate}}</small
        >
        <small *ngIf="form.get('weightInKg').errors.min">
          {{"controlsValidation.nonNegative" | translate}}
        </small>
      </div>
    </div>

    <app-image-input
      [imageUrl]="imageUrl"
      [OnSelectedImageCallback]="onSelectedImage"
    >
    </app-image-input>

    <div class="form-control">
      <label>{{ "controls.part" | translate}}</label>
      <select formControlName="part">
          <option
              *ngFor="let p of parts"
              [ngValue]="p.id"
          >
              {{p.name}}
          </option>
      </select>
    </div>
    <div class="form-control">
      <label>{{ "controls.manufacturer" | translate}}</label>
      <select formControlName="manufacturer">
          <option
              *ngFor="let m of manufacturers"
              [ngValue]="m.id"
          >
              {{m.name}}
          </option>
      </select>
  </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || submitted"
    >
     {{"generalButtons.save" | translate}}
    </button>
  </form>
  </div>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

