<div *ngIf="provider">
    <table>
      <tr>
        <th>{{"tableRows.name" | translate}}</th>
        <th>{{"tableRows.pricePerKg" | translate}}</th>
        <th>{{"tableRows.minWeightInKgToDeliver" | translate}}</th>
      </tr>
      <tr>
        <td>{{ provider.name }}</td>
        <td>{{ provider.pricePerKg }} BYN</td>
        <td>{{ provider.minWeightInKgToDeliver}} kg</td>
      </tr>
    </table>
  </div>

  <div *ngIf="partModels">
    <table>
        <tr>
          <th>{{"tableRows.image" | translate}}</th>
          <th>{{"tableRows.name" | translate}}</th>
          <th>{{"tableRows.purchasePrice" | translate}}</th>
          <th>{{"tableRows.quantity" | translate}}</th>
          <th>{{"tableRows.weight" | translate}}</th>
          <th>{{"tableRows.part" | translate}}</th>
          <th>{{"tableRows.manufacturer" | translate}}</th>
        </tr>
        <tr *ngFor="let partModel of partModels">
          <td><img src="{{partModel.imageUrl}}"> </td>
          <td>{{ partModel.name }}</td>
          <td>{{ financial(partModel.purchasePrice) }} BYN</td>
          <td>{{ partModel.quantity}}</td>
          <td>{{ financial(partModel.weightInKg)}} kg</td>
          <td>{{ partModel.part.name}} </td>
          <td>{{ partModel.manufacturer.name}} </td>
        </tr>
      </table>
  </div>
  <table>
    <tr>
      <th>{{"tableRows.totalDifferentItems" | translate}}</th>
      <th>{{"tableRows.totalWeight" | translate}}</th>
      <th>{{"tableRows.deliveryPrice" | translate}}</th>
      <th>{{"tableRows.partModelPrice" | translate}}</th>
      <th>{{"tableRows.totalPrice" | translate}}</th>
    </tr>
    <tr>
      <td>{{totalDifferentItems}}</td>
      <td>{{financial(totalWeight)}} kg</td>
      <td>{{financial(deliveryPrice) }} BYN</td>
      <td>{{financial(partModelsPrice) }} BYN</td>
      <td><b>{{financial(totalPrice) }} BYN</b></td>
    </tr>
  </table>

<button
  class="btn btn-success btn-left"
  (click)="confirmOrder()"
  [disabled]="submitted"
>
  {{"deliveryOrderCheckout.confirmOrderButton" | translate}}
</button>
