<div *ngIf="provider">
    <table>
      <tr>
        <th>Name</th>
        <th>Price per kg</th>
        <th>Min weight to deliver</th>
      </tr>
      <tr>
        <td>{{ provider.name }}</td>
        <td>{{ provider.pricePerKg | currency: 'USD'}}</td>
        <td>{{ provider.minWeightInKgToDeliver}} kg</td>
      </tr>
    </table>
  </div>

  <div *ngIf="partModels">
    <table>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Purchase price</th>
          <th>Quantity</th>
          <th>Weight</th>
          <th>Part name</th>
          <th>Manufacturer name</th>
        </tr>
        <tr *ngFor="let partModel of partModels">
          <td><img src="{{partModel.imageUrl}}"> </td>
          <td>{{ partModel.name }}</td>
          <td>{{ financial(partModel.purchasePrice) | currency: 'USD'}}</td>
          <td>{{ partModel.quantity}}</td>
          <td>{{ financial(partModel.weightInKg)}} kg</td>
          <td>{{ partModel.part.name}} </td>
          <td>{{ partModel.manufacturer.name}} </td>
        </tr>
      </table>
  </div>
  <table>
    <tr>
      <th>Total different items</th>
      <th>Total weight</th>
      <th>Delivery price</th>
      <th>Part models price</th>
      <th>Total price</th>
    </tr>
    <tr>
      <td>{{totalDifferentItems}}</td>
      <td>{{financial(totalWeight)}} kg</td>
      <td>{{financial(deliveryPrice) | currency: 'USD'}}</td>
      <td>{{financial(partModelsPrice) | currency: 'USD'}}</td>
      <td><b>{{financial(totalPrice) | currency: 'USD'}}</b></td>
    </tr>
  </table>

<button
  class="btn btn-success btn-left"
  (click)="confirmOrder()"
  [disabled]="submitted"
>
  Confirm order
</button>