<div *ngIf="form && parts.length && partModels.length && userBicycles.length; else loading">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <div class="header">
      <button routerLink="/admin/user-problems" class="btn btn-link btn-left">
        {{"problemsForm.backToAllProblemsButton" | translate}}
      </button>
    </div>
    <div class="form-group">
      <label>{{"controls.bicycle" | translate}}</label>
      <select formControlName="bicycle" class="form-control">
        <option
            *ngFor="let b of userBicycles"
            [ngValue]="b.id"
        >
            {{b.model}}
        </option>
      </select>
    </div>
    <div class="form-control">
      <label>{{"controls.addressLine1" | translate}}</label>
      <input class="form-control" type="text" formControlName="addressLine1" />
      <div
        class="validation"
        *ngIf="form.get('addressLine1').touched && form.get('addressLine1').invalid"
      >
        <small *ngIf="form.get('addressLine1').errors.required"
          >{{ "controlsValidation.fieldRequired" | translate}}</small
        >
      </div>
    </div>
    <div class="form-control">
      <label>{{"controls.addressLine2" | translate}}</label>
      <input class="form-control" type="text" formControlName="addressLine2" />
    </div>

    <div class="form-control">
      <label>{{"controls.place" | translate}}</label>
      <input class="form-control" type="text" formControlName="place" />
      <div
        class="validation"
        *ngIf="form.get('place').touched && form.get('place').invalid"
      >
        <small *ngIf="form.get('place').errors.required"
          >{{ "controlsValidation.fieldRequired" | translate}}</small
        >
      </div>
    </div>
    <div class="form-group">
      <label>{{"controls.description" | translate}}</label>
      <textarea class="form-control" formControlName="description" rows="3"></textarea>
    </div>
    <form [formGroup]="partForm">
    <div class="test">
      <h2> {{"problemsForm.addMultiplePartModels" | translate}}</h2>
      <button type="button" (click)="addQuantity()" class="btn btn-primary">
        {{"generalButtons.addMore" | translate}}

      </button>
    </div>
    <table class="table table-bordered" formArrayName="quantities">
      <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
        <td>
               <div class="form-group">
                  <label>{{"controls.part" | translate}}</label>
                  <select formControlName="part" class="form-control">
                    <option
                        *ngFor="let p of parts"
                        [ngValue]="p.id"
                    >
                        {{p.name}}
                    </option>
                  </select>
                </div>
        </td>
        <td>
          <div class="form-group">
            <label>{{"controls.partModel" | translate}}</label>
            <select formControlName="partModel" class="form-control">
                <option
                    *ngFor="let pm of getPartModels(i)"
                    [ngValue]="pm.id"
                >
                    {{pm.name}} - {{pm.price }} BYN
                </option>
            </select>
          </div>
        </td>
        <td>
          <div class="form-group">
            <div class="form-control">
              <label>{{"controls.amount" | translate}}</label>
              <input class="form-control" type="number" formControlName="amount" />
              <div
                class="validation"
                *ngIf="quantities().controls[i].get('amount').touched && quantities().controls[i].get('amount').invalid"
              >
                <small *ngIf="quantities().controls[i].get('amount').errors.required"
                  >{{ "controlsValidation.fieldRequired" | translate}}</small
                >
                <small *ngIf="quantities().controls[i].get('amount').errors.min">
                  {{"controls.amount" | translate}} {{"controlsValidation.greaterThenOrEqual" | translate}} 1
                </small>
              </div>
            </div>
            </div>
        </td>
        <td>
            <button (click)="removeQuantity(i)" class="btn btn-danger">
              {{"generalButtons.remove" | translate}}
            </button>
        </td>
      </tr>
    </table>
</form>

    <button
      class="btn btn-primary"
      type="submit"
      style="margin-top: 10px;"
      [disabled]="form.invalid || submitted || partForm.invalid"
    >
      {{"generalButtons.save" | translate}}
    </button>
  </form>
  </div>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

