<div *ngIf="form && parts.length && partModels.length && userBicycles.length; else loading">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <div class="header">
      <button routerLink="/admin/user-problems" class="btn btn-link btn-left">
        Back to all problems
      </button>
    </div>
    <div class="form-group">
      <label>Bicycle</label>
      <select formControlName="bicycle" class="form-control">
        <option
            *ngFor="let b of userBicycles"
            [ngValue]="b.id"
        >
            {{b.model}}
        </option>
      </select>
    </div>
    <div class="form-control">
      <label>Address Line 1</label>
      <input class="form-control" type="text" formControlName="addressLine1" />
      <div
        class="validation"
        *ngIf="form.get('addressLine1').touched && form.get('addressLine1').invalid"
      >
        <small *ngIf="form.get('addressLine1').errors.required"
          >Address Line 1 is a required field</small
        >
      </div>
    </div>
    <div class="form-control">
      <label>Address Line 2</label>
      <input class="form-control" type="text" formControlName="addressLine2" />
    </div>

    <div class="form-control">
      <label>Place</label>
      <input class="form-control" type="text" formControlName="place" />
      <div
        class="validation"
        *ngIf="form.get('place').touched && form.get('place').invalid"
      >
        <small *ngIf="form.get('place').errors.required"
          >Place is a required field</small
        >
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" formControlName="description" rows="3"></textarea>
    </div>
    <form [formGroup]="partForm">

    <table class="table table-bordered" formArrayName="quantities">
      <tr>
        <th colspan="2">Add Multiple Part Models:</th>
        <th width="150px"><button type="button" (click)="addQuantity()" class="btn btn-primary">Add More</button></th>
      </tr>
      <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
        <td>
               <div class="form-group">
                  <label>Part</label>
                  <select formControlName="part" class="form-control">
                    <option
                        *ngFor="let p of parts"
                        [ngValue]="p.id"
                    >
                        {{p.name}}
                    </option>
                  </select>
                </div>
        </td>
        <td>
          <div class="form-group">
            <label>Part Model</label>
            <select formControlName="partModel" class="form-control">
                <option
                    *ngFor="let pm of getPartModels(i)"
                    [ngValue]="pm.id"
                >
                    {{pm.name}} - {{pm.price | currency: 'USD'}}
                </option>
            </select>
          </div>
        </td>
        <td>
          <div class="form-group">
            <div class="form-control">
              <label>Amount</label>
              <input class="form-control" type="number" formControlName="amount" />
              <div
                class="validation"
                *ngIf="quantities().controls[i].get('amount').touched && quantities().controls[i].get('amount').invalid"
              >
                <small *ngIf="quantities().controls[i].get('amount').errors.required"
                  >Amount is a required field</small
                >
                <small *ngIf="quantities().controls[i].get('amount').errors.min"
                  >Amount must be greater than or equal to 1</small
                >
              </div>
            </div>
            </div>
        </td>
        <td>
            <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>
        </td>
      </tr>
    </table>
</form>

    <button
      class="btn btn-primary"
      type="submit"
      style="margin-top: 10px;"
      [disabled]="form.invalid || submitted || partForm.invalid"
    >
      {{formStatus}}
    </button>
  </form>
  </div>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

