<div *ngIf="problem && form && loading">
  <form class="card" [formGroup]="form" >
    <div class="header">
      <button *ngIf="auth.isUser()" routerLink="/admin/user-problems" class="btn btn-link btn-left">
        {{"userProblemsDetails.backToProblems" | translate}}
      </button>
      <button *ngIf="auth.isMaster()" routerLink="/admin/master-problems" class="btn btn-link btn-left">
        {{"userProblemsDetails.backToProblems" | translate}}
      </button>
    </div>
    <div class="form-control">
      <label>Id</label>
      <input class="form-control" type="text" formControlName="id" readonly />
    </div>
    <div class="form-control">
      <label>{{"controls.dateCreated" | translate}}</label>
      <input class="form-control" type="text" formControlName="dateCreated" readonly />
    </div>
    <div class="form-control">
      <label>{{"controls.dateFinished" | translate}}</label>
      <input class="form-control" type="text" formControlName="dateFinished" readonly/>
    </div>
    <div class="form-control">
      <label>{{"controls.master" | translate}}</label>
      <input class="form-control" type="text" formControlName="master" readonly />
    </div>
    <div class="form-control">
      <label>{{"controls.addressLine1" | translate}}</label>
      <input class="form-control" type="text" formControlName="addressLine1" readonly />
    </div>
    <div class="form-control">
      <label>{{"controls.addressLine2" | translate}}</label>
      <input class="form-control" type="text" formControlName="addressLine2" readonly />
    </div>
    <div class="form-control">
      <label>{{"controls.place" | translate}}</label>
      <input class="form-control" type="text" formControlName="place" readonly />
    </div>
    <div class="form-control">
      <label>{{"controls.bicycleModel" | translate}}</label>
      <input class="form-control" type="text" formControlName="bicycleModel" readonly />
    </div>
    <div class="form-control">
      <label>{{"controls.bicycleSerialNumber" | translate}}</label>
      <input class="form-control" type="text" formControlName="bicycleSerialNumber" readonly />
    </div>
    <div class="form-control">
      <label>{{"controls.stage" | translate}}</label>
      <input class="form-control" type="text" formControlName="stage" readonly />
    </div>

    <div class="form-group">
      <label>{{"controls.description" | translate}}</label>
      <textarea class="form-control" formControlName="description" rows="3" readonly></textarea>
    </div>
    <div *ngIf="problem.partModels">
      <table>
        <caption><b>{{"userProblemsDetails.caption" | translate}}</b></caption>
          <tr>
            <th>{{"tableRows.part" | translate}}</th>
            <th>{{"tableRows.partModel" | translate}}</th>
            <th>{{"tableRows.amount" | translate}}</th>
            <th>{{"tableRows.price" | translate}}</th>
          </tr>
          <tr *ngFor="let part of problem.partModels">
            <td>{{ part.partName }}</td>
            <td>{{ part?.partModelName}}</td>
            <td>{{ part?.amount}}</td>
            <td>{{ financial(part?.pricePerDetail) | currency: 'USD'}}</td>
          </tr>
        </table>
    </div>
  </form>
</div>
