<div *ngIf="roles.length; else loading">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Users</th>
    </tr>
    <tr *ngFor="let role of roles">
      <td>{{ role.id }}</td>
      <td>{{ role.name }}</td>
      <td>
        <p  *ngFor="let user of rolesWithUsers[role.name]">
          <button
            class="btn btn-link btn-left"
            [routerLink]="['/admin','user', user.id, 'edit']"
          >
            {{user.email}}
          </button>
        </p>
      </td>
    </tr>
  </table>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
