<h2>{{"deliveryOrderCreate.pageTitle" | translate}}</h2>
<app-delivery-order-provider-create-page
  (providerSelectedEvent)="setProvider($event)"
>

</app-delivery-order-provider-create-page>

 <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="isChecked">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>
        <label style="margin-right: 10px;">Select all</label>
        <input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)">
      </th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input type="checkbox"
          value="{{element.isChecked}}"
          [(ngModel)]="partModels[i].isChecked"
          (change)="changeQuantity(element);recalculateSummaries();"
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell  *matHeaderCellDef>
        {{"tableRows.image" | translate}}
      </th>
      <td mat-cell *matCellDef="let element"> <img src={{element.imageUrl}}> </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>
        {{"tableRows.name" | translate}}
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>
        {{"tableRows.quantity" | translate}}
      </th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input type="number"
          value="{{element.quantity}}"
          [(ngModel)]="partModels[i].quantity"
          style="width: 75px;"
          (change)="recalculateSummaries()"
          min="0"
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>
        {{"tableRows.purchasePrice" | translate}}
      </th>
      <td mat-cell *matCellDef="let element"> {{element.purchasePrice }} BYN </td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>
        {{"tableRows.weight" | translate}}
      </th>
      <td mat-cell *matCellDef="let element"> {{financial(element.weightInKg)}} kg </td>
    </ng-container>
    <ng-container matColumnDef="manufacturerName">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>
        {{"tableRows.manufacturer" | translate}}
      </th>
      <td mat-cell *matCellDef="let element"> {{element.manufacturer.name}} </td>
    </ng-container>
    <ng-container matColumnDef="partName">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>
        {{"tableRows.part" | translate}}
      </th>
      <td mat-cell *matCellDef="let element"> {{element.part.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 100]">
  </mat-paginator>
  <table>
  <tr>
    <th>{{"tableRows.totalDifferentItems" | translate}}</th>
    <th>{{"tableRows.totalWeight" | translate}}</th>
    <th>{{"tableRows.deliveryPrice" | translate}}</th>
    <th>{{"tableRows.partModelPrice" | translate}}</th>
    <th>{{"tableRows.totalPrice" | translate}}</th>
  </tr>
  <tr>
    <td>{{totalDifferentItems}}</td>
    <td>{{financial(totalWeight)}} kg</td>
    <td>{{financial(deliveryPrice) }} BYN</td>
    <td>{{financial(partModelsPrice) }} BYN</td>
    <td><b>{{financial(totalPrice)}} BYN</b></td>
  </tr>
</table>
<button
  class="btn btn-success btn-left"
  (click)="confirmOrder()"
  [disabled]="!chosenProvider || !isWeightAllowed"
>
  {{"deliveryOrderCreate.confirmOrderButton" | translate}}
</button>
<ng-template #loading>
<p>Loading...</p>
</ng-template>
